.container {
    display: flex;
    gap: 30px;

    flex-wrap: wrap;

    .stats {
        width: 100%;

        display: flex;
        justify-content: flex-start;
        gap: 50px;

        padding: 20px 0;
    }

    .itemsSoldTable {
        flex: 1 1 60%;
    }

    .topSoldList {
        flex: 1 1 30%;
    }

    .profitTrend {
        flex: 1 1 100%;

        height: fit-content;
    }
}