.nav {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 200px;

    background: linear-gradient(0deg, #2179FFFF 0%, #297FE2FF 100%);
    color: white;

    & > .title-card {
        width: 80%;
        height: fit-content;

        padding: 10px;

        margin: 0 auto;
        margin-top: 20px;

        background: #ffffff2a;

        display: flex;
        align-items: center;

        gap: 10px;

        border-radius: 5px;

        .logo {
            width: 40px;
            height: 40px;

            background: #327CC7;

            border-radius: 5px;

            object-fit: cover;
        }

        .text {
            display: flex;
            flex-direction: column;

            text-align: start;

            .title {
                font-size: .9rem;
                font-weight: bold;
            }

            .label {
                font-size: .7rem;
                font-weight: bold;
            }
        }
    }

    & > .links {
        display: flex;
        flex-direction: column;

        height: fit-content;
        width: 100%;

        margin-top: 30px;

        & .link {
            display: flex;
            gap: 15px;

            align-items: center;

            padding: 15px 30px;

            color: white !important;
            text-decoration: none !important;

            font-size: 14px;

            &.active {
                background: #ffffff2a;
            }

            transition: .3s all;
            .icon {
                transition: .1s all;
            }
            border-left: 5px solid #2179FF00;

            &:hover {
                box-shadow: 0px 0px 10px 5px #2179FFFF;
                border-left: 5px solid #FFF;

                background: #ffffff2a;
                cursor: pointer;

                gap: 20px;
                
                .icon {
                    transform: scale(1.4);
                }
            }
        }
    }

    transition: .3s all;
    box-shadow: 0px 0px 20px 0px #2179FFFF;

}