.widget {
    position: relative;

    height: auto;
    width: 220px;

    display: flex;

    justify-content: center;
    align-items: center;

    padding: 20px 0;

    // smooth shadow
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    border: 2px solid #2179FF;
    border-radius: 8px;

    background: white;

    & > .title {
        position: absolute;
        top: 5px;
        left: 10px;

        font-size: 14px;
    }

    & > .data {
        width: 100%;

        padding-top: 15px;
        display: flex;

        justify-content: space-between;
        align-items: center;

        & > .label {
            flex: 0 0 30%;

            text-align: center;

            color: #2179FF;
            font-weight: 500;
        }

        & > .arrow {
            flex: 0 0 10%;
        }

        & > .value {
            flex: 0 0 50%;
            text-align: center;

            font-size: 30px;
            font-weight: bold;
        }
    }
}