.container {
    display: flex;

    justify-content: space-between;
    align-items: flex-end;

    height: auto;
    width: 100%;

	margin-bottom: 40px;
}

.text {
    .title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .brief {
        font-size: .9rem;
    }

}

.navs {
    display: flex;
    gap: 5px;

    .nav {
        display: flex;
        gap: 10px;

        align-items: center;

        padding: 5px 10px;

        background: white;
        
        border-radius: 5px;
        border: 1px solid #2179FF;

        color: #2179FF;
        font-size: 14px;

        // sharp shadow
        box-shadow: 0px 0px 0px 0 #2179FFFF;
        
        cursor: pointer;
        user-select: none;
        
        transition: .3s all;
        &:hover {
            background: #2179FF;
            color: white;
            box-shadow: 0px 0px 20px 0px #2179FFFF;
        }
    }
}
