.container {
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
}

.filters {
    display: flex;
    gap: 10px;

    .filter {
        .filter_title {
            font-size: 14px;
            font-weight: 600;
        }
        
        .filter_content {
            input {
                padding: 5px 8px;
                outline: none;
                border: none;

                border-radius: 4px;
                box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

                font-size: 14px;
            }
        }
    }
}


.num, .no {
    width: 50px;
    padding-left: 10px;
    font-size: 14px;
    color: #00000067;
}
.num {
    color: #2179FFFF;
}

.table {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
    .cols {
        padding-right: 38px;

        display: flex;
        width: 100%;
        padding-bottom: 7px;
        margin-bottom: 7px;

        .data {
            display: flex;
        }

        .col {
            font-weight: 600;
            font-size: 14px;
            color: #2179FFFF;
        }
    }

    .rows {
        padding-right: 28px;

        display: flex;
        flex-direction: column;

        width: 100%;

        height: 300px;
        overflow-y: scroll;

        .row {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            
            padding: 10px 0;

            border-top: 2px solid rgba(0, 0, 0, 0.096);
            .data {
                display: flex;
                .value {
                    display: flex;
                    
                    div {
                        width: fit-content;
                        height: fit-content;
                        
                        font-size: 14px;
                        font-weight: 400;
                        
                        color: #777777;
                        padding: 2px 0;
                    }
                    
                }
            }
            
            .actions {
                width: 65px;

                display: flex;
                gap: 5px;
                align-items: center;

                flex-wrap: wrap;

                .action {
                    width: fit-content;

                    cursor: pointer;

                    padding: 5px;
                    border: 1px solid #2179FFFF;
                    border-radius: 4px;

                    color: #2179FFFF;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    transition: .3s all;

                    &:hover {
                        background-color: #2179FFFF;
                        color: #FFFFFF;
                    }
                }
            }

        }
    }
}