@import '../../themes/ump-dark.module.scss';

.header {
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & > .text {
        & > .title {
            font-size: 1.25rem;
            font-weight: bold;
    
            padding-bottom: 5px;
        }
    
        & > .subtitle {
            font-weight: 100;
            font-size: .75rem;
        }

    }

    & > .actions {
        display: flex;
    }

    border-bottom: 1px solid $COLOR_6;
}

.body {
    padding: 40px 0;
}

.paper {
	background: $COLOR_2 !important;
}